<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Lyrical</title>

	<link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
	<script src="https://unpkg.com/jquery"></script>
	<script src="https://unpkg.com/popper"></script>
	<script src="https://unpkg.com/bootstrap"></script>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="shortcut icon" href="/static/favicon.ico">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Mingzat&display=swap" rel="stylesheet">
</head>

<body class="{% block body_class %}{% endblock %}">
	<nav class="navbar navbar-expand">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">
					lyrical
				</a>
			</div>
				{% if request.endpoint != None %}
					<a href="/search">search</a>
				{% endif %}
				{% if not g.user %}
				<a href="/signup">sign up</a>
				<a href="/login">log in</a>
				{% else %}
				<a href="/">
					{{ g.user.username }}
				</a>
				<a href="/logout">log out</a>
				{% endif %}
		</div>
	</nav>
<div class="container">
	{% for category, message in get_flashed_messages(with_categories=True) %}
	<div class="alert alert-{{ category }}">{{ message }}</div>
	{% endfor %}

		{% block content %}
		{% endblock %}
	
</body>

</html>
